flask==3.0.3
flask-cors==4.0.1
gunicorn==22.0.0
vertexai==1.71.1
google-cloud-storage==2.18.2
google-cloud-aiplatform==1.71.1
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.5


flask==3.0.3
flask-cors==4.0.1
gunicorn==22.0.0
vertexai==1.71.1
google-cloud-storage==2.18.2
google-cloud-aiplatform==1.71.1
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.5
